#head1 {
    text-align: center;
    margin-right: 400px;
    color: rgb(48, 87, 48);
}
#head2 {
    margin-left: 740px;
    color: rgb(48, 87, 48);
}
#input {
    margin-left: 740px;
    width: 400px;
    box-sizing: border-box;
}
#message {
    height: 150px;
    margin-left: 740px;
}
#emailbutton {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 15px 32px;
    font-size: 16px;
    color: #000000;
    background-color: rgb(48, 87, 48);
    font-weight: bold;
}
#emailsubmit {
    text-align: center;
}

#main {
    background-color: white;
}